<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.ntnu.idi.socialhitchhiking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application
        android:theme="@style/NewTheme"
        android:name="SocialHitchhikingApplication"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="no.ntnu.idi.socialhitchhiking.service.AlarmService" ></receiver>
        <receiver android:name="no.ntnu.idi.socialhitchhiking.service.JourneyReminder" ></receiver>
		
        
        <activity
            android:name=".journey.CreateOrLoadRide"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.SCHEDULEDRIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.ScheduleDrive"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.SCHEDULEDRIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.TripOptions"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.TRIPOPTIONS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findDriver.DriverDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.findDriver.DRIVERDETAILS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.utility.SETTINGSACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findDriver.FindDriver"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.findDriver.FINDDRIVER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityCreateOrEditRoute"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYCREATEOREDITROUTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityAddPickupAndDropoff"
            android:label="@string/pickupAndDropoffName"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYADDPICKUPANDDROPOFF" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityJourneyAccept"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYJOURNEYACCEPT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityJourney"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYJOURNEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivitySearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYSEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.draganddrop.DragAndDropListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.DRAGANDDROPACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".route.CreateRoute"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.route.CREATEROUTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.ListJourneys"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.LISTJOURNEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.ListTrips"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.LISTTRIPS" />
            </intent-filter>
        </activity>  
        <activity
            android:name=".journey.ListTripsHitched"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.LISTTRIPSHITCHED" />
            </intent-filter>
        </activity>        
        <activity
            android:name=".inbox.Inbox"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.inbox.INBOX" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inbox.ListNotifications"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.inbox.LISTNOTIFICATIONS" />
            </intent-filter>
        </activity>
                <activity
            android:name="no.ntnu.idi.socialhitchhiking.MyAccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
             <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.My_accaunt.MYACCOUNT" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.ntnu.idi.socialhitchhiking.MyAccountMeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             
            <intent-filter>
            <action android:name="no.ntnu.idi.socialhitchhiking.Me_activity.ME" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.ntnu.idi.socialhitchhiking.MyAccountCar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
                       
            <intent-filter>
            <action android:name="no.ntnu.idi.socialhitchhiking.MyAccountCar.MYACCOUNTCAR" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.ntnu.idi.socialhitchhiking.MyAccountPreferences"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             <intent-filter>
            <action android:name="no.ntnu.idi.socialhitchhiking.MyAccountPreferences.MYACCOUNTPREFERENCES" />
            </intent-filter>
        </activity>
                <activity
            android:name="no.ntnu.idi.socialhitchhiking.mytrips.MyTrips"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
             <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.my_trips_view.MYTRIPS" />
            </intent-filter>
        </activity>

        <activity
            android:name="no.ntnu.idi.socialhitchhiking.mytrips.MyRides"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
                       
            <intent-filter>
            <action android:name="no.ntnu.idi.socialhitchhiking.mytrips.MYRIDES" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.ntnu.idi.socialhitchhiking.mytrips.HitchedRides"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             <intent-filter>
            <action android:name="no.ntnu.idi.socialhitchhiking.mytrips.HICHEDRIDES" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="no.ntnu.idi.socialhitchhiking.utility.ShareOnFacebook" 
            android:label="@string/app_name"
			android:screenOrientation="portrait" 
			android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <service
            android:name=".demo.DemoService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.demo.DEMOSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
    </application>

</manifest>
