<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.ntnu.idi.socialhitchhiking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="SocialHitchhikingApplication"
        android:debuggable="false"
        android:icon="@drawable/car_icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="no.ntnu.idi.socialhitchhiking.service.AlarmService" ></receiver>
        <receiver android:name="no.ntnu.idi.socialhitchhiking.service.JourneyReminder" ></receiver>
		
        
        <activity
            android:name=".journey.CreateOrLoadRide"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.SCHEDULEDRIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.ScheduleDrive"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.SCHEDULEDRIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findDriver.DriverDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.findDriver.DRIVERDETAILS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utility.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.utility.SETTINGSACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findDriver.FindDriver"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.findDriver.FINDDRIVER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityCreateOrEditRoute"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYCREATEOREDITROUTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityAddPickupAndDropoff"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYADDPICKUPANDDROPOFF" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityJourneyAccept"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYJOURNEYACCEPT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivityJourney"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYJOURNEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivitySearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.MAPACTIVITYSEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.draganddrop.DragAndDropListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.map.DRAGANDDROPACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".route.CreateRoute"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.route.CREATEROUTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".journey.ListJourneys"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.journey.LISTJOURNEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inbox.Inbox"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.inbox.INBOX" />
            </intent-filter>
        </activity>

        <service
            android:name=".demo.DemoService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="no.ntnu.idi.socialhitchhiking.demo.DEMOSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
    </application>

</manifest>